# Archivos compilados de Java
*.class

# Paquetes
*.jar
*.wa*
*.ear

# Carpetas de compilación
*ut/
build/
target/
bin/

# Intelli* IDEA
.idea/
*.iml

# Visual Studi* Code
.vscode/

# Eclipse
.project*.classpath
.settings/

# Archivos *emporales
*.log
*.tmp

# Sistema o*erativo
.DS_Store
Thumbs.db
